<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.image">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.framework.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mian.widget.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".image.douban.detail.widget.DouBanDetailActivity" />
        <activity android:name=".image.mzitu.detail.widget.MZiTuDetailActivity" />
        <activity android:name=".image.mm.detail.widget.MMDetailActivity" />
        <activity android:name=".image.meizitu.detail.widget.MeiZiTuDetailActivity" />
        <activity android:name=".image.kk.detail.widget.KKDetailActivity" />
        <activity android:name=".search.list.widget.SearchListActivity" />
    </application>

</manifest>